/* .akform Form CSS */

/* Prevent Parent Div from Collapse */
#content-wrapper {
    overflow: auto;
}

#contact_form{ 
background: transparent;
padding: 0px 10px 10px 0px;
max-width:640px;
min-width: 256px;
margin: 0;
}

.akform{
    font: normal 12px arial,helvetica,sans-serif;
    color: #333;
    text-align: left;
    margin: 0;
}

.akform .fieldInput {
	width: 100%;
}

.akform textarea {
max-width: 477px!important;
  height: 150px;
   padding: 10px;
width: 75%;
}

#contact_form h3{
    margin: 0px 0px 10px 0px!important;
}

.akform .fields{
    padding: 10px 0;
    background: #ddd;
}

.akform input {
    display:block;
    width:80%;
    border: 1px solid #E8E8E8;
    padding:10px;
    margin-bottom:25px;
}

.akform .field .fieldTick{
    background: url('http://slms1.com/assets/stylesheets/images/tick.png') no-repeat  ;
	background-position:100% 50%;
}

.akform .field .fieldCross{
    background: url('http://slms1.com/assets/stylesheets/images/cross.png') no-repeat ;
	background-position:100% 50%;
}

.akform .field label{
    display: block;
    font-weight: bold;
cursor:pointer;
    margin:4px 0;
width: 90%;
}

.akform span.mandatory{
    color: #a00;
}

.akform input.button{
margin-top: 20px;
line-height: 100%;
width: 25%;
cursor: pointer;
color: #000000!important;
}

.akform input.button:disabled {
background-color: #BCBCBC;
cursor: default;
}

.akform #confirm, #confirmMessage{
    background: #efe;
    padding: 5px;
    border: 1px solid #060;
    color: #060;
    font-weight: bold;
    text-align: center;
}
/* End Form CSS */
